<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>OrderItems</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>

<body>

   <div class="container-fluid text-center">
       <br>
      <div class="m-2"><h3>Order Items</h3></div>

       <div class="m-2">
           <a class="h5"  th:href="@{/orderItems/new}">Add New Order Item</a>
       </div>

       <div>
           <table class="table table-bordered">
               <thead class="table-light">
               <tr>
                   <th>ID</th>
                   <th>Order ID</th>
                   <th>Book ID</th>
                   <th>Quantity</th>
                   <th>Price</th>
                   <th>Action</th>
               </tr>
               </thead>

               <tbody>
               <th:block th:each="orderItem : ${listOrderItems}">
                   <tr>
                       <td>[[${orderItem.id}]]</td>
                       <td>[[${orderItem.order.id}]]</td>
                       <td>[[${orderItem.book.id}]]</td>
                       <td>[[${orderItem.quantity}]]</td>
                       <td>[[${orderItem.itemPrice}]]</td>
                       <td>[[${action}]]
                            <a class="h6 m-3" th:href="@{'/orderItems/edit/' + ${orderItem.id}}">Edit</a>
                            <a class="h6 " th:href="@{'/orderItems/delete/' + ${orderItem.id}}">Delete</a>
                       </td>
                   </tr>
               </th:block>
               </tbody>

           </table>

       </div>

   </div>

</body>

</html>





